<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yacikgoz.galatasarayflashlight.light">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="true"/>

    <application android:supportsRtl="true" android:label="@string/app_name" android:allowBackup="false">
        <service android:name="com.yacikgoz.galatasarayflashlight.LightService" android:label="@string/app_name" android:icon="@drawable/on" android:permission="${applicationId}.FLASH" android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.FLASH_ON"/>
                <action android:name="${applicationId}.FLASH_OFF"/>
            </intent-filter>
        </service>
        <receiver android:name="com.yacikgoz.galatasarayflashlight.Light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
    </application>
</manifest>